/* Box sizing */

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Zen Kurenaido', sans-serif;
}

/* Reset margins */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    margin: 0;
}
/* set up the body */

body {
    line-height: 1.5;
    min-height: 100vh;
}

/* make images easier to work with */

img,
picture {
    max-width: 100%;
    display: block;
}

/* make forms easier to work with */

input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who´ve turned them off */
@media(prefers-reduced-motion: reduce){
*,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    }
}

h2{
    text-align: center;
    padding-top: 20px;
    font-size: 4vw;
}

h1{
    text-transform: capitalize;
    text-shadow: 1px 1px black;
    color: rgb(207, 11, 11);
    font-size: 4vw;
    margin-top: 80px;
    padding: 0px;
    text-align: center;
    
    
}

p{
    padding: 30px;
    text-align: justify;
    line-height: 1.5;
}

/* Navbar */
.navbar-brand {
    padding-left: 10px;
    padding-right: 10px;
}
.navbar a:hover {
    
    background-color: black;
    border-radius: 20px;
    
}

#cv {
    border-radius: 20px;
}

.accordion-button[aria-expanded="true"] {
    color: whitesmoke;
    background-color: rgb(207, 11, 11);
    box-shadow: none;
  }
.accordion-button[aria-expanded="false"] {
    box-shadow: none;
  }

/* Footer */

footer{
    display: flex;
    flex-direction: column;
}

.logo_list {
    margin: auto;
    max-width: 500px;
    padding-right: 60px;
    
}

#contact {
    margin: auto;
    padding-bottom: 30px;
}

#email{
    width: 30px;
    height: 30px;
    

}