/* Box sizing */

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Zen Kurenaido', sans-serif;
}

/* Reset margins */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    margin: 0;
}
/* set up the body */

body {
    line-height: 1.5;
    min-height: 100vh;
}

/* make images easier to work with */

img,
picture {
    max-width: 100%;
    display: block;
}

/* make forms easier to work with */

input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who´ve turned them off */
@media(prefers-reduced-motion: reduce){
*,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    }
}

h2{
    text-align: center;
    padding-top: 20px;
    text-shadow: 1px 1px black;
    color: rgb(207, 11, 11);
    /* font-size: 3vw; */
}

h1{
    text-transform: capitalize;
    text-shadow: 1px 1px black;
    color: rgb(207, 11, 11);
    /* font-size: 4vw; */
    margin-top: 80px;
    padding: 0px;
    text-align: center;
}

h3 {
    text-align: center;
}


p{
    padding: 30px;
    text-align: justify;
    line-height: 1.5;
    font-size: 1.2rem;
}



/* Navbar */

.navbar-brand {
    padding-left: 10px;
    padding-right: 10px;
}
/* .navbar a:hover {
    
    background-color: black;
    border-radius: 20px;
    
} */

.navbar li a {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 20px;
}
.navbar li a:hover { 
    color: red !important;
    font-weight: bold; 
}


#cv {
    border-radius: 25px;
    border: 2px solid black;
    background-color: #FF0000;
    color: #f2f5f5;
    opacity: .6;
    font-weight: bold;
    font-size: 1.2rem;
}

#cv:hover {
    background-color: black;
    opacity: .6;
    color: whitesmoke;
    border: 2px solid red;
}


#hero {
    background-image: url(./images/pexels-christina-morillo-1181343.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.about {
    font-size: 2vw;
}

.accordion-button[aria-expanded="true"] {
    color: whitesmoke;
    background-color: rgb(207, 11, 11);
    box-shadow: none;
  }
.accordion-button[aria-expanded="false"] {
    box-shadow: none;
  }

.card-acerca {
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 10px;
    border: 0;
    margin-bottom: 1.5em;
}

label {
    font-size: 1.2rem;
}

/* Footer */

footer{
    display: flex;
    flex-direction: column;
}

.logo_list {
    margin: auto;
    max-width: 500px;
    padding-right: 60px;
    
}

#contact {
    margin: auto;
    padding-bottom: 30px;
}

#email{
    width: 30px;
    height: 30px;
    

}

/* Progress circles */

.progress{
    background: none;
    margin: 0 auto;
    box-shadow: none;
    width: 150px;
    height: 150px;
    line-height: 150px;
    position: relative;
}
.progress:after{
    content: "";
    border-radius: 50%;
    border: 15px solid #f2f5f5;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.progress > span{
    position: absolute;
    top: 0;
    z-index: 1;
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    border-width: 15px;
    border-style: solid;
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
    font-size: 24px;
    color: black;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}

/* circle colors */

.progress.blue .progress-bar{
    border-color: #f83754;
}
.progress.blue .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.yellow .progress-bar{
    border-color: #f83754;
}
.progress.yellow .progress-left .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}
.progress.pink .progress-bar{
    border-color: #f83754;
}
.progress.pink .progress-left .progress-bar{
    animation: none;
}

/* Media queries */

/* If the screen size is 771px wide or more */
@media screen and (min-width: 771px) {
    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 40px;
    }
    p {
      font-size: 30px;
    }
  }
  
  /* If the screen size is 770px wide or less */
  @media screen and (max-width: 770px) {
    h1{
      font-size: 30px;
    }
    h2{
      font-size: 24px;
    }
    p{
      font-size: 18px;
    }
  }


  /* Project cards */

  .card {
    transition: transform 0.2s ease;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 0;
    border: 0;
    margin-bottom: 1.5em;
  }
  .card:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  /* Contact form */

  .form-control:focus {
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
  }

  #enviar:hover {
      background: black;
  }

  
  /* relevant styles */
.img__wrap {
    position: relative;
    height: 300px;
    width: 300px;
  }
  
  .img__description_layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(249, 49, 84, 0.34);
    color: #fff;
    visibility: hidden;
    opacity: 0.4;
    display: flex;
    align-items: center;
    justify-content: center;
    
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }
  
  .img__wrap:hover .img__description_layer {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
  }
  
  .img__description {
    transition: .2s;
    transform: translateY(1em);
  }
  
  .img__wrap:hover .img__description {
    transform: translateY(0);
  }

  /* Ultima imagen */

  .container-text {
    position: relative;
    width: 100%;
  }
  
  .image {
    display: block;
    width: 300px;
    height: 300px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    width: 300px;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .container-text:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }